# Python
__pycache__/
*.pyc
.env
# Arduino/ESP32 secrets
iot_C_code/config.h
iot_C_code/iot_C_code_unfiltered
# Docker
*.log
*.db
docker-compose.override.yml
# Node/Web
node_modules/
# VSCode
.vscode/
# Misc
.DS_Store
*.swp
